language: java

jdk: openjdk11

before_script:
  - chmod +x gradlew

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

jobs:
  include:
    # 1.1 Run Assemble
    - stage: assemble
      jdk: openjdk11
      script: ./gradlew assemble --no-daemon

    ## 1.2 Run Build
    - stage: build
      jdk: openjdk11
      script: ./gradlew build --no-daemon

    # 1.3 Run Tests
    - stage: test
      jdk: openjdk11
      script: ./gradlew test --no-daemon

    # 1.4 Check Coverage
    - stage: coverage
      jdk: openjdk11
      script:
        - ./gradlew check --no-daemon
        - ./gradlew jacocoTestReport --no-daemon
        - bash <(curl -s https://codecov.io/bash)

branches:
  only:
    - dev
    - master
